/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */
nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.button-collapse {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(31, 31, 31, 0.9);
}
.parallax-container .section {
  width: 100%;
}
#logo-container img {
  width: 145px;
  margin-top: 21px;
}
.portfolio img {
    width: 32%;
    float: left;
    margin: 1% 1% 0 0;    
}

.white-text .fa {
  width: 50px;
}

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}
nav .contacts p{
    margin:0px;
    color: #5C5C5C;
    line-height: 20px;
}
nav .contacts {
    padding-top: 10px;
}
nav .phone_icon i {
    color: #795548;
    line-height: 47px;
}
nav .phone_icon {
    margin: 5px 20px;
    height: 50px;
    width: 50px;
    padding: 0 13px;
    border: 1px solid #9D9D9D;
    border-radius: 50px;
}