{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
  <title>Данила - Мастер - автроские натяжные потолки</title>
  <!-- CSS  -->
  {% include 'stylesheets.html' %}
</head>

    <body>

      <nav class="white" role="navigation">
        <div class="nav-wrapper container">
          <a id="logo-container" href="#" class="brand-logo"><img src="{% static 'images/logo4.png' %}" alt=""></a>

            <div class="right contacts">
                <p>тел: 8-913-888-5045</p>
                <p>email: orion-potolok@yandex.ru</p>
            </div>
            <div class="right phone_icon">
                <i class="fa fa-phone"></i>
            </div>

{#            <ul class="right hide-on-med-and-down">#}
{#                <li><a href="#">Контакты</a></li>#}
{#                <li>8-913-848-4543</li>#}
{#            </ul>#}

          <ul id="nav-mobile" class="side-nav">
            <li><a href="#">Navbar Link</a></li>
          </ul>
          <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
        </div>
      </nav>

        {% block content %}
        {% endblock %}

        {% include 'javascripts.html' %}
    </body>
</html>
